body {
  padding-top: 5px;
}

.buttons-row {
  margin-top: 25px;
}

.main-row {
  height: 350px;
}

.img-cedula {
  width: 200px;
  margin-bottom: 15px;
}

.img-googleplay {
  width: 150px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.img-uport {
  width: 290px;
  margin-bottom: 15px;
  margin-top: 15px;
}

[hidden] {
  display: none !important;
}

.dot-row {
  margin-bottom: 10px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}